---
import { THEMES, THEME_KEY, getThemeOrDefault, humanizeTheme } from "~/theme";
import ThemeIcon from "./theme-icon.astro";

const cookie = Astro.cookies.get(THEME_KEY);
const currentTheme = getThemeOrDefault(cookie?.value);
---

<form action="/theme" method="post">
	<fieldset is="theme-select" class="flex items-center gap-2">
		{
			THEMES.map((theme) => (
				<label
					for={`theme-${theme}`}
					class="flex h-8 w-8 items-center justify-center rounded text-grayA-10 hover:bg-grayA-3 active:bg-grayA-4 [&:has(input:checked)]:bg-grayA-4 [&:has(input:checked)]:text-hi-contrast"
				>
					<ThemeIcon variant={theme} />
					<input
						id={`theme-${theme}`}
						checked={theme === currentTheme}
						hidden
						hx-post="/theme"
						hx-trigger="change"
						name="theme"
						type="radio"
						value={theme}
					/>
					<span class="sr-only">{humanizeTheme(theme)}</span>
				</label>
			))
		}
	</fieldset>
</form>
<script src="./theme-select.ts"></script>
